<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>const_static_extern 这三个关键字的使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A84740AD1E94D91700375D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A84740C61E94D91700375D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A84740D11E94D91700375D97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
